.picture {
    width: 450px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 10px 50px rgba(119, 119, 119, 0.5);
}

.picture1 {
    width: 700px;
    height: 200px;
    margin: auto;
    box-shadow: 10px 10px 50px rgba(119, 119, 119, 0.5);
}

.picture2 {
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 50px rgba(119, 119, 119, 0.5);
}