.experience {
    text-align: center; 
}


.boxx {
    width: 40%;
    margin: 0 auto;
    background: rgba(101, 78, 78, 0.2);
    padding: 35px;
    background-clip: padding-box;
    text-align: center;
    margin-top: 10px;
    box-shadow: 10px 10px 50px rgba(119, 119, 119, 0.5);
    border-radius: 20px/50px;
  }
  
.project1 {
    font-size: 25px;
    font-family: Garamond, serif;
    font-weight: bold;
}

.content-pro1 {
    font-size: 20px;
    font-family: Garamond, serif;
}


.button {
    font-size: 20px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: 2px solid #06D85F;
    background-color: #50d890;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    box-shadow: 10px 10px 50px rgba(119, 119, 119, 0.5);
    font-family: Garamond, serif;
  }
  .button:hover {
    background: #98dfb8;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 10px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    width: 50%;
    height: 60%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 5px;
    color: #333;
    font-family: Garamond, serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }
  .popup .contenttt {
    overflow: auto;
    font-family: Garamond, serif;
    font-size: 20px;
  } 
  
  @media screen and (max-width: 100%){
    .boxx{
      width: 100%;
    }
    .popup{
      width: 100%;
    }
  }

  .soft {
    font-size: 20px;
    font-family: Garamond, serif;
}

.softt {
  font-size: 20px;
  font-family: Garamond, serif;
  padding-bottom: 5px;
}