
.card {
    text-align: center; 
    margin: auto;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    background:#eee;
    width: 60%;
    overflow-y: auto;
    box-shadow: 0 0 0 8px rgba(96, 92, 92, 0.2);
  }

.logoprofile {
    width: 25%;	
    border-radius: 8px;
    box-shadow: 0 0 0 4px rgba(159, 105, 105, 0.2);
    border: none;
    position: relative;
    margin-top: 10px;
    
}

.message{
    font-size: 20px;
    background-color: lightsteelblue;
    padding: 2px;
    font-family: Garamond, serif;
}

.nattida{
    font-size: 40px;
    font-weight: bold;
    font-family: Garamond, serif;
    margin-top: 13px;
    margin-bottom: 13px;
}

.name{
    text-align: center; 
    font-size: 45px;
    font-family: Copperplate, Papyrus, fantasy;
    margin-top: 13px;
    margin-bottom: 13px;
}


