.all {
    text-align: center; 
}


.iconskill {
    width: 100px;
    height: 100px;
    padding: 10px;
}
 
.Software {
    font-size: 30px;
    font-family: Garamond, serif;
    font-weight: bolder;
}

.soft {
    font-size: 20px;
    font-family: Garamond, serif;


}
.soft1 {
    margin-bottom: 20px
}