.all {
    text-align: center; 
}


.iconskill {
    width: 100px;
    height: 100px;
    padding: 10px;
}
 
.Software {
    font-size: 30px;
    padding: 2px;
    font-family: Garamond, serif;
    font-weight: bolder;

}

.soft {
    font-size: 20px;
    padding: 2px;
    font-family: Garamond, serif;

}